<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<FilesMatch "(^\.env|^\.git|^composer\.|^package\.|^vite\.|^artisan$|^docker)">
    Require all denied
</FilesMatch>

Options -Indexes
